@font-face
    font-family: 'DrukTextWide'
    src: url('../static/fonts/DrukTextWide-Bold.woff') format('woff'), url('../static/fonts/DrukTextWide-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

\::-webkit-scrollbar // chrome based
  width: 0px// ширина scrollbar'a
  background: transparent  // опционально

html
  -ms-overflow-style: none// IE 10+
  scrollbar-width: none// Firefox
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

.page
  position: absolute
  margin-left: 150px
  width: calc(100vw - 300px)
  height: 100vh
  z-index: 100
  transition: all .2s

main
  font-family: Montserrat
  
.typicalHeader
  width: 100%
  padding: 30px 64px 0
  display: flex
  justify-content: space-between
  max-height: 25vh

body
  background-color: #f7f7f7

